/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html,
body {
    height: 100%;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Quattrocento Sans', sans-serif;
}

.container {
    margin: 30px auto;
    width: 860px;
}

.lhs,
.rhs {
    display: block;
}

.lhs {
    width: 300px;
    float: left;
    position: fixed;
    text-align: center;
}

.rhs {
    float: right;
    width: 500px;
}

#info {
    margin-top: 30px;
    text-align: left;
}

.nav {
    text-align: left;
}

hr {
    width: 75%;
    margin: 25px auto;
}

h1,
h2,
h3,
a {
    color: #3a205f;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.inactive {
    text-decoration: none !important;
    color: #000000;
    cursor: text;
}

ul {
    list-style-type: disc;
}

ul > ul {
    list-style-type: circle;
}

ol > li {
    margin-top: 15px;
    font-size: 1.15em;
}

:not(ol) > li {
    font-size: 16px;
}